/*test how to: position elements*/

h1 {
    color: blue;
}

label {
    font-family: arial;
}

input {
    background-color: lightgrey;
    width: 100%;
    display: inline-block;
}

/*need to use id or class to control button positions to override settings in input selector*/
.radio {
    width: 5%;
}

/*
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  
}
*/
