.header{
  text-align: center;
  /*change font (choose from google fonts*/
}
.survey{
  position: relative;
  text-align: center;
  
   /*put a border around questions*/
  /*margins and padding for content in border - Ie: padding (padding controls space between the elements content and its border), border and margin (margin controls amount of space between an elements border and surrounding elements)*/
  /*change font - match fonts used in header*/
  /*background image and color might need to go here*/

  .lable{
    position: relative;
  }
  
}
.input{
  postion: absolute; 
  bottom: 100px;
  /*put questions above entry fields - need to create another class for input fields*/
  
}
.submit{
  /*change font - match fonts used in header*/
  /*make bigger*/
  /*round border*/
  /*change color*/
}
.background{
  /*add background picture*/
  /*color?*/
  /*make opaque*/
}