input {
  width: 100%;
  text-align: left;
}
.header{
  text-align: center;
  /*change font (choose from google fonts*/
}
.survey{
  position: relative;
  text-align: left;
   
  .label{
    position: absolute;
    
  }
  
} 
.submit{
  /*change font - match fonts used in header*/
  /*make bigger*/
  /*round border*/
  /*change color*/
}
.background{
  /*add background picture*/
  /*color?*/
  /*make opaque*/
}